div.decorative-hero__information-container 
  h1.decorative-hero__information-container-header #{header}
  p.decorative-hero__information-container-description #{description}
  button.decorative-hero__information-container-button #{cta.label}
div.decorative-hero__picture(style=`background-image: url(${images.small.url});`)

