div.hero__information-container 
  h1.hero__information-container-header #{header}
  p.hero__information-container-description #{description}
  button.hero__information-container-button #{cta.label}
div.hero__picture


